<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Emplace</title>


    <link href="https://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="https://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/customindex.css" rel="stylesheet">

  </head>

  <body>

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="#">Home</a></li>
            <li role="presentation"><a href="/showSignin">Sign In</a></li>
 	    <li role="presentation"><a href="/showSignUp">Sign Up</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Emplace</h3>
      </div>

      <div class="jumbotron">
        <h1>Emplace</h1>
        <p class="lead"></p>
        <p><a class="btn btn-lg btn-success" href="/showSignUp" role="button">Sign up today</a></p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>What is Emplace?</h4>
          <p>Emplace is an interactive social network for posting and viewing photos and updates from around the world.</p>

          <h4>Stay Alerted</h4>
          <p>In any situation - storms, floods, earthquakes - check in for a real-time look at what people nearby are seeing and saying.</p>

          <h4>Raise Awareness</h4>
          <p>Is something happening around you that people should see? Be the first to inform others.</p>
        </div>

        <div class="col-lg-6">
          <h4>Better Safe</h4>
          <p>With time-stamps, photos, and first-hand accounts, stay aware of what's happening.</p>

          <h4>Check In</h4>
          <p>Make sure your friends and family are safe while reassuring them by posting.</p>

          <h4>Show the World</h4>
          <p>Your viewpoint and insight are essential to helping others and getting the word out!</p>
        </div>
      </div>

      <footer class="footer">
        <p>&copy; CIL 2017</p>
      </footer>

    </div>
  </body>
</html>

